.container-fluid {
    margin:0 auto;
}

body {
    font:lighter 16px/1.6em 'Helvetica Neue', Helvetica, sans-serif;
}

.details {
  font-size: 13px;
  color: #c9c9c9;
  text-align: right;
  margin-top: -100px;
  padding-right: 20px;
}

h1, h2, h3, h4, h5, h6, .details strong {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #ee2531;
}

h2 span, h3 span {
  font-family: 'Gentium Book Basic', serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: 'Gentium Book Basic', serif;
  font-size: 18px;
}

hr {
    width: 100%;
    border:none;
    border-bottom: 1px dotted #ff2b06;
}

.twitter-follow-button {
    width: 285px;
    margin: 15px auto;
}

header h1 {
    width: 267px;
    height: 110px;
    background: url("../images/tedxlogo.png");
    text-indent: -9999px;
    margin: 30px 0;
}

.btn-action {
  color:white;
    border-radius:10px;
    cursor:pointer;
      background-color: #ee432e;
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, #ee432e 0%, #ee432e 50%, #891100 100%);
  background-image: -moz-linear-gradient(top, #ee432e 0%, #ee432e 50%, #891100 100%);
  background-image: -ms-linear-gradient(top, #ee432e 0%, #ee432e 50%, #891100 100%);
  background-image: -o-linear-gradient(top, #ee432e 0%, #ee432e 50%, #891100 100%);
  background-image: linear-gradient(top, #ee432e 0%, #ee432e 50%, #891100 100%);
  border: 1px solid #951100;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font: bold 20px 'Open Sans', helvetica, arial, sans-serif;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
  margin-bottom:20px;
}

.img-polaroid {
    margin-bottom: 8px;
}

a:hover {
    text-decoration: none;
}

#fb-root {
  display: none;
}

.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
  width: 100% !important;
}

#thankyou {
  margin-top: 20px;
}

strong {
  text-align: center;
}

#encabezado {
  border-top: 10px solid #ededed;
  height: 150px;
  background: white;
  border-bottom: 5px solid #ff2b06;
}

/* Large desktop */
@media (min-width: 1200px) {
  body {
    background-image: url(../images/big_bg.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
  }

  .container-fluid {
    background: rgba(255,255,255,0.9);
  }
}

@media (min-width: 769px) {

    body {
      background-image: url(../images/big_bg.png);
      background-repeat: no-repeat;
      background-position: top center;
      background-attachment: fixed;
    }

    #intro, #about p {
      -moz-column-count:2; /* Firefox */
      -webkit-column-count:2; /* Safari and Chrome */
      column-count:2;
      color: #444;
    }

    .container-fluid {
      background: rgba(255,255,255,0.9);
      -webkit-box-shadow:  1px 1px 15px 1px rgba(0, 0, 0, 0.5);
      box-shadow:  1px 1px 15px 1px rgba(0, 0, 0, 0.5);
    }

    #encabezado {
      border-top: 10px solid #ededed;
      height: 180px;
      background: white;
      margin-bottom: 30px;
      border-bottom: none;
    }

    nav {
      margin-top: 180px;
      height: 5px;
      background-color: #444;
      border-bottom: 5px solid #ff2b06;
    }

    .container-fluid {
        max-width: 900px;
    }

    #welcome button.btn-block {
        width: 290px;
        margin: 0 auto;
        margin-bottom: 20px;
        float: left;
    }

    .btn-block {
      width: 270px;
    }

    .btn1 {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .btn2 {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .twitter-follow-button {
        width: 250px;
        margin: 15px auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .container-fluid {
        max-width: 880px;
    }

    .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
      width: 230px !important;
    }

    h1, h2, h3, h4, h5, h6 {
        letter-spacing: -2px;
    }
}